@model AgendMovies.Modelos.Pacotes

@{ 
    var PS = ViewBag.Pacotes  as IQueryable<AgendMovies.Modelos.Pacotes>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cadastro de Pacotes</title>
    <link href="@Url.Content("~/styles/pacotes_create.css")" rel="stylesheet" />
    <style>
        #acrescentar {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            box-sizing: border-box;
        }
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            box-sizing: border-box;
        }
        .inputs {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: 0 !important;

        }
        input[type="submit"]{
            background-color: limegreen;
            text-align: center;
            padding: 0.5em;
        
            color: white;
        }
    </style>
</head>
<body>
    <header>

        <div id="Header_Organizador">
            <div>
                <a href="index.html"><p><img src="~/img/Logo.png"></p></a>
            </div>

            <div>
                <a href="#.html"><p><img src="~/img/logout_branco.png"></p></a>
            </div>
        </div>
    </header>

    <section>
        <h1>Cadastrar pacote</h1>
        <div id="endireitar_o_endireitar">
            <div id="endireitar">
                <div></div>
                <div class="wrapper">
                    @foreach (var p in PS)
                    {
                        <a href="#.html"><div class="botao"><p>@p.ingressos por @p.valor R$</p></div></a>
                    }
                    @for (int a = 0; a < 6 - ViewBag.Quant; a++)
                    {
                        <a href="#.html"><div class="botao"><p>- - - - - - - - - -</p></div></a>
                    }
                </div>
                <div></div>
            </div>
        </div>
        <h1>Anexar Filme</h1>

        <div id="acrescentar_safado">

            <div id="acrescentar">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "")

                    @Html.HiddenFor(model => model.PacotesId)


                <div class="inputs">

                    @Html.TextBoxFor(model => model.nome, new { type = "text", required = "required", placeholder = "nome" })
                    @Html.TextBoxFor(model => model.ingressos, new { type = "text", required = "required", placeholder = "ingressos" })
                    @Html.TextBoxFor(model => model.sala, new { type = "text", required = "required", placeholder = "sala" })
                </div>
                <div class="inputs">

                    @Html.TextBoxFor(model => model.assento, new { type = "text", required = "required", placeholder = "assento" })
                    @Html.TextBoxFor(model => model.valor, new { type = "text", required = "required", placeholder = "valor" })
                </div>
                   <input type="submit" value="enviar"/>

                }



                
            </div>
        </div>

    </section>

    <footer>
        <div>
            <p>Copyright © 2023 AgendMovies</p>
        </div>

        <div>
            <ol>
                <a href="#.html">
                <li><img src="~/img/insta.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/face.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/twitter.png"></li></a>
            </ol>
        </div>
    </footer>
</body>
</html>