@model AgendMovies.Modelos.Funcionario

@{
    Layout = null;
}
!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-height, initial-scale=1.0">
    <title>Agend Movies</title>

    <link rel="stylesheet" href="@Url.Content("~/estilos/Principal.css")" />
    <link rel="icon" href="~/img/Logo_aba.png" />
    <link href="@Url.Content("~/styles/Cadastro_de_Funcionario.css")" rel="stylesheet" />

    @* Scriprs do barra automatico *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    @* Scriprs do barra automatico *@
    <style>
        input[type="file"] {
            display: none;
        }

        ion-icon:hover {
            cursor: pointer;
        }

        .wrapper form > div p span {
            color: #ff5454;
        }
        header{
            background-color: white;
        }
    </style>
</head>
<body>
    <!--<header>
      <figure>
        <a href="index.html"><img id="logo" src="~/img/logomoviecat.png" alt="Logo do site"/></a>
      </figure>

      <ol id="olh">
        <a href="#"<li><p>Home</p></li></a>
        <a href="#"<li><p>Filmes</p></li></a>
        <a href="#"<li><p>Sessões</p></li></a>
        <a href="#"<li><p>Funcionários</p></li></a>
        <a href="#"<li><p>Pacotes</p></li></a>
      </ol>

      <div id="dfah">
      <figure>
        <a href="#"><img src="~/img/funcionario_Mar.png" alt="Icone de logout"/></a>
      </figure>
        <h1>Perfil</h1>
      </div>
    </header>-->
    <header>
        <h1>
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/logo.png" alt="yy" />
            </a>
        </h1>
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="#">Pacotes</a></li>
            <li><a href="#">Agenda</a></li>
        </ol>
        <div>
            <p><a href="#"><img src="~/img/funcionario_Mar.png" /></a></p>
            <p>Perfil</p>
        </div>
    </header>

    <main>
        <div class="wrapper">
            @using (Html.BeginForm("Cadastrar", "Employees", FormMethod.Post,
 new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.TextBox("arquivo", "", new { type = "file", id = "ColocarFotoDePerfil" })

                <h1>Cadastro de Funcionários</h1>
                @Html.HiddenFor(model => model.FuncionarioId)

                <img onclick="EditarImagem()" src="~/img/iconeFuncionario.png" id="FotoTemp" style="width: 70px; height: 71px; border-radius:100%;" />
                <script>
                    function EditarImagem() {
                        var InputArquivo = document.getElementById("ColocarFotoDePerfil");
                        const Imagem = document.getElementById('FotoTemp');

                        InputArquivo.addEventListener("change", function (evento) {


                            const Arquivo = evento.target.files[0];
                            if (Arquivo) {
                                const LeitorDeArquivo = new FileReader();
                                LeitorDeArquivo.onload = function (e) {
                                    Imagem.setAttribute('src', e.target.result);
                                };
                                LeitorDeArquivo.readAsDataURL(Arquivo);
                            } else {
                                Imagem.setAttribute('src', '~/img/EditarPerfil.png');
                            }
                        });
                        InputArquivo.click();


                    }
                </script>

                <div><p>Nome Completo*   @Html.ValidationMessageFor(model => model.nome, "")</p>@Html.EditorFor(model => model.nome, new { type = "text", required = "required", size = "40" }) </div>

                <div><p>CPF*   @Html.ValidationMessageFor(model => model.cpf, "")</p>@Html.EditorFor(model => model.cpf, new { type = "text", required = "required", size = "40" }) </div>

                <div><p>Data de Nascimento*   @Html.ValidationMessageFor(model => model.data, "")</p>@Html.EditorFor(model => model.data, new { type = "text", required = "required", size = "40" }) </div>

                <div><p>Telefone*  @Html.ValidationMessageFor(model => model.telefone, "")</p>@Html.EditorFor(model => model.telefone, new { type = "text", required = "required", size = "40" }) </div>

                <div>
                    <p>Email*  @Html.ValidationMessageFor(model => model.email, "")</p> @Html.EditorFor(model => model.email, new { type = "email", required = "required", size = "40" })

                </div>


                <div>
                    <p>Senha*</p>
                    <input class="p" type="text" name="Nome" size="40" />

                </div>
                <div>
                    <p>Confirmar Senha*  @Html.ValidationMessageFor(model => model.senha, "")</p>
                    @Html.TextBoxFor(model => model.senha, new { type = "text", required = "required", size = "40" })
                </div>

                <div class="t">
                    <button type="submit" class="btn">Criar</button>
                </div>


            }
        </div>


        @* Scripts da validação *@
        <script src="@Url.Content("~/scripts/jquery-3.4.1.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.js")">
        </script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")">
        </script>
        @* Scripts da validação *@

        <script>
            $(document).ready(function () {
                $('#data').mask('00/00/0000');
            });
        </script>
    </main>
    <footer>
        <img src="~/img/logoFooter.png" />
        <ol>
            <li><a href=#><img src="~/img/github.png" /></a></li>
            <li><a href=#><img src="~/img/facebook.png" /></a></li>
            <li><a href=#><img src="~/img/twitter.png" /></a></li>
        </ol>
    </footer>
    <!--<footer>
      <div>
        <img id="loucura2" src="~/img/footer_logo.png">
      </div>
      <div>
        <img id="loucura" src="~/img/replit-icon-seeklogo.com.svg">
        <img src="~/img/figma.png">
        <img src="~/img/git.png">
      </div>
    </footer>-->
</body>
</html>
