<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home d0 adm</title>
    <link href="@Url.Content("~/styles/adm.css")" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="Header_Organizador">
            <div>
                <a href='@Url.Action("Index", "Home")'><p><img src="~/img/Logo.png"></p></a>
            </div><!--Te adoro <3-->
            <div>
                <a href="#.html"><p><img src="~/img/Sol.png"></p></a>
                <a href="#.html"><p><img src="~/img/Perfil.png"></p></a>
            </div>
        </div>
    </header>



    <section>
        <a href='@Url.Action("Visualizar", "Funcionarios")'><div><p>Funcionários</p></div></a>
        <a href="@Url.Action("Listar", "Sessoes")"><div><p>Sessões</p></div></a>
        <a href="@Url.Action("Listar", "CRUDFilmes")"><div><p>Filmes</p></div></a>
        <a href='@Url.Action("Visualizar", "Pacotes")'><div><p>Pacotes</p></div></a>
    </section>

    <footer>
        <div>
            <p>Copyright © 2023 AgendMovies</p>
        </div>

        <div>
            <ol>
                <a href="#.html">
                <li><img src="~/img/insta.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/face.png"></li></a>
                <a href="#.html">
                <li><img src="~/img/twitter.png"></li></a>
            </ol>
        </div>
    </footer>
</body>
</html>
